body{
	background-image: url('./airplane.JPG');
	background-repeat: no-repeat;
}
header{
	text-align: center;
}
nav{
	text-align: center;
}
h1{
	color: rgb(161,255,0);
}
label{
	width: 100%;
	display:block;
	padding-right: 50px;
	color: rgb(255,255,0);
	font-size: 25px;
	
}