body{
	background-image: url('./bull.jpg');
	background-repeat: no-repeat;
}
header{
	color: yellow;
	text-align: center;
}
.container{
	
	text-align: center;
}
.div-pad{
	
	margin-top: 20px;
	color: green;
}
label{
	font-size: 24px;
	color: yellow;
}
.input{
	margin-top: 25px;
}
#clear-Form{
	
	background-color: orange;
}
#submit{
	background-color: orange;
}